<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483632948798-r8sp2uv9h67qrgaig3im2jb0ijclodac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483632948798-r8sp2uv9h67qrgaig3im2jb0ijclodac</string>
	<key>API_KEY</key>
	<string>AIzaSyA9ws7B2_-8PQKajBn-PKCycMsITHaUIKc</string>
	<key>GCM_SENDER_ID</key>
	<string>483632948798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.avocado</string>
	<key>PROJECT_ID</key>
	<string>flutterauthentication-31f18</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterauthentication-31f18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483632948798:ios:f8e2dd13f808c18928d36f</string>
</dict>
</plist>